<div class="page-title">
  <div class="title_left">
    <h3>NGƯỜI DÙNG
      <small>Danh sách người dùng</small>
    </h3>
  </div>

  <div class="title_right">
    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
      <div class="input-group">
        <input type="text" class="form-control" name="filter" (keyup.enter)="loadData()" [(ngModel)]="filter" placeholder="Gõ tên quyền cần tìm...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" (click)="loadData()">Tìm kiếm!</button>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <!-- <button class="btn btn-success" title="Thêm user" (click)="showAddEditModal()">Thêm người dùng</button> -->
        <button *ngIf="_authenService.hasPermission('USER','create')" class="btn btn-success" title="Thêm user" (click)="showAddEditModal()">Thêm người dùng</button>
        <ul class="nav navbar-right panel_toolbox">
          <li>
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              <i class="fa fa-wrench"></i>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a href="#">Settings 1</a>
              </li>
              <li>
                <a href="#">Settings 2</a>
              </li>
            </ul>
          </li>
          <li>
            <a class="close-link">
              <i class="fa fa-close"></i>
            </a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>

      <div class="x_content">
        <div class="table-responsive">
          <table class="table table-striped jambo_table bulk_action">
            <thead>
              <tr class="headings">
                <th>
                  <input type="checkbox" id="check-all" class="flat">
                </th>
                <th class="column-title" style="width: 7%;">Avatar </th>
                <th class="column-title">Tài khoản </th>
                <th class="column-title">Họ tên </th>
                <th class="column-title">Điện thoại </th>
                <th class="column-title">Email </th>
                <th class="column-title">Ngày sinh </th>
                <th class="column-title">Trạng thái </th>
                <th *ngIf="_authenService.hasPermission('USER','update') || _authenService.hasPermission('USER','delete')" class="column-title no-link last"
                  style="width: 7%;" style="text-align: center;">
                  <span class="nobr">Sửa/Xóa</span>
                </th>
                <th class="bulk-actions" colspan="7">
                  <a class="antoo" style="color:#fff; font-weight:500;">Đã chọn (
                    <span class="action-cnt"> </span> )
                    <i class="fa fa-chevron-down"></i>
                  </a>
                </th>
              </tr>
            </thead>

            <tbody>
              <tr class="even pointer" *ngFor="let user of users | userFilterByUserName: 'UserName' : 'dkteam'">
                <td class="a-center ">
                  <input type="checkbox" name="table_records">
                </td>
                <td class=" " style="width: 7%;">
                  <a [routerLink]="" (click)="showEditModal(user.Id)">
                    <img [src]="baseFolder + user.Avatar" class="img-responsive" style="width: 100%;" />
                  </a>
                </td>
                <td class=" ">{{user.UserName}}</td>
                <td class=" ">{{user.FullName}}</td>
                <td class=" ">{{user.PhoneNumber}}</td>
                <td class=" ">{{user.Email}}</td>
                <td class=" ">{{user.BirthDay | date: 'dd/MM/yyyy'}}</td>
                <td *ngIf="user.Status==true">
                  <span><label class="label label-success">Kích hoạt </label></span>
                </td>
                <td *ngIf="user.Status==false">
                  <span><label class="label label-danger">Đã khóa </label></span>
                </td>
                <td *ngIf="_authenService.hasPermission('USER','update') || _authenService.hasPermission('USER','delete')" class="last" style="width: 7%;"
                  style="text-align: center;">
                  <button *ngIf="_authenService.hasPermission('USER','update')" class="btn btn-primary" title="Sửa" (click)="showEditModal(user.Id)">
                    <i class="fa fa-pencil-square-o"></i>
                  </button>
                  <button *ngIf="_authenService.hasPermission('USER','delete')" class="btn btn-danger" title="Xóa" (click)="deleteItem(user.Id)">
                    <i class="fa fa-trash"></i>
                  </button>
                  <!-- <button class="btn btn-primary" title="Sửa" (click)="showEditModal(user.Id)"><i class="fa fa-pencil-square-o"></i></button>
                  <button class="btn btn-danger" title="Xóa" (click)="deleteItem(user.Id)"><i class="fa fa-trash"></i></button> -->
                </td>
              </tr>
            </tbody>
          </table>
          <div class="col-md-12">
            <pagination [boundaryLinks]="true" [totalItems]="totalRow" [itemsPerPage]="pageSize" (pageChanged)="pageChanged($event)"
              [(ngModel)]="pageIndex" class="pagination-sm"></pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Modal add and edit-->
<div bsModal #modalAddEdit="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Thêm/Sửa người dùng</h4>
        <button type="button" class="close pull-right" (click)="modalAddEdit.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal form-label-left" novalidate #frmAddEdit="ngForm" (ngSubmit)="saveChanged(frmAddEdit)" *ngIf="entity">
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Họ tên </label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="hidden" [(ngModel)]="entity.Id" name="id" />
              <input type="text" #fullname="ngModel" [(ngModel)]="entity.FullName" required minlength="2" maxlength="100" name="fullname" class="form-control" />
                <div *ngIf="fullname.errors && (fullname.dirty || fullname.touched)" class="label label-danger">
                  Bắt buộc nhập và tối đa 100 ký tự, tối thiểu 2 ký tự
                </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Tên tài khoản </label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" #username="ngModel" required [(ngModel)]="entity.UserName" maxlength="30" name="username" class="form-control" />
              <div *ngIf="fullname.errors && (fullname.dirty || fullname.touched)" class="label label-danger">
                Bắt buộc nhập và tối đa 30 ký tự, tối thiểu 2 ký tự
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Mật khẩu </label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="password" #password="ngModel" required minlength="6" [(ngModel)]="entity.Password" name="password" class="form-control" />
              <div *ngIf="password.errors && (password.dirty || password.touched)" class="label label-danger">
                Bắt buộc nhập và tối thiểu 6 ký tự, trong đó có tối hiểu 1 ký tự đặc biệt, 1 ký tự viết hoa, 1 ký tự viết thường và 1 ký tự số.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Xác nhận mật khẩu </label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="password" #confirmpassword="ngModel" required minlength="6" validateEqual="password" name="confirmpassword" [(ngModel)]="entity.ConfirmPassword"
                name="confirmpassword" class="form-control" />
                <div *ngIf="confirmpassword.errors && (confirmpassword.dirty || confirmpassword.touched)" class="label label-danger">
                  Xác nhận mật khẩu chưa đúng, vui lòng gõ đúng mật khẩu ở ô "Mật khẩu".
                </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Điện thoại</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" #phonenumber="ngModel" [(ngModel)]="entity.PhoneNumber" required name="phonenumber" class="form-control" />
              <div *ngIf="phonenumber.errors && (phonenumber.dirty || phonenumber.touched)" class="label label-danger">
                Xác nhận mật khẩu chưa đúng, vui lòng gõ đúng mật khẩu ở ô "Mật khẩu".
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Email</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [(ngModel)]="entity.Email" required
                name="email" class="form-control" />
                <div *ngIf="email.errors && (email.dirty || email.touched)" class="label label-danger">
                  Bắt buộc nhập và email đúng định dạng: "...@...", ví dụ: abc@gmail.com
                </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Ngày sinh</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" #birthday="ngModel" daterangepicker (selected)="selectedDate($event)" [options]="dateOptions" [(ngModel)]="entity.BirthDay"
                name="birthday" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Địa chỉ</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" #address="ngModel" [(ngModel)]="entity.Address" name="address" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Avatar</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="file" #avatar name="avatar" class="form-control">
              <p class="help-block label label-danger"> chỉ hỗ trợ định dạng *.png, *.jpg, *.jpeg </p>
              <input type="hidden" [(ngModel)]="entity.Avatar" name="brandLogoUrl" />
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12" *ngIf="entity.Avatar">
              <img [src]="baseFolder + entity.Avatar" width="128" />
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Giới tính</label>
            <div class="col-md-6 col-sm-6 col-xs-12">

              <input type="radio" (change)="selectGender($event)" #gender="ngModel" [checked]="entity.Gender=='True'" name="gender"
                [ngModel]="entity.Gender" value="True" required /> Nam

              <input type="radio" (change)="selectGender($event)" #gender="ngModel" [checked]="entity.Gender=='False'" name="gender"
                [ngModel]="entity.Gender" value="False" /> Nữ

            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Trạng thái</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <div class="checkbox">
                <label>
                  <input type="checkbox" [(ngModel)]="entity.Status" name="status" #status="ngModel"> Kích hoạt
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Thuộc nhóm</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <ss-multiselect-dropdown [ngModelOptions]="{standalone: true}" [texts]="myTexts" [settings]="mySettings" [options]="allRoles"
                [(ngModel)]="myRoles"></ss-multiselect-dropdown>
              <!-- <ss-multiselect-dropdown [ngModelOptions]="{standalone: true}" [options]="allRoles" [(ngModel)]="myRoles"></ss-multiselect-dropdown> -->
            </div>
          </div>
          <div class="ln_solid"></div>
          <div class="form-group">
            <div class="col-md-9 col-sm-9 col-xs-12 pull-right">
                <small class="pull-left">
                    <span style="color: #a94442">Màu đỏ:</span> Bắt buộc nhập hoặc dữ liệu chưa hợp lệ
                    <br/>
                    <span style="color: #42A948">Màu xanh:</span> Hợp lệ
                    <br/>
                    <span style="color: #f0ad4e">Màu vàng:</span> Thông báo
                    <br/>
                    <span>Không màu:</span> Không bắt buộc nhập
                  </small>
              <button type="submit" class="btn btn-primary pull-right" [disabled]="!frmAddEdit.form.valid">Cập nhật</button>
              <button type="button" (click)="modalAddEdit.hide()" class="btn btn-default pull-right">Hủy bỏ</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>